.wallpaper .wrapper{
  margin: 0 auto;
}

.aboutHeader{
  background-image: url(img/burgerRestaraunt.jpg);
  height: 50vh;
  background-attachment: fixed;
}

.aboutContainer{
  width: 50%;
  float: left;
}
.fa-cutlery{
  float: left;
}

.fa-building-o{
  float: left;
}

.founders{
  width: 33.33%;
  float: left;
  background-color: rgba(255,255,255,0.41);
  border-radius: 8px;
  img{
    border-radius:50%;
    margin-left: 30px;
    margin-top: 15px;
  }
  h3{
    text-align: center;
  }
  p{
    text-align: center;
  }
}
.wallpaper{
  background-image: url(img/brickwall.png);
  padding-bottom: 60px;
  padding-top: 30px;
  h3{
    color: white;
    margin: 0;
    background-color: #c1272d;
    width: 242px;
    padding: 5px;
    margin-top: 11px;
  }
}

h1{
  margin:0;
}
.aboutUs{
  background-color: rgba(255, 255, 255, 0.41);
  border-radius: 11px;
  padding: 5px;
  margin: 18px;
  position: relative;
  .fa{
      position: relative;
      top: 9px;
      left: 11px;
      color: white;
  }
  p{
    padding-left: 22px;
  }
}
.wallpaper{
  h1{
    color: white;
      margin: 0;
      background-color: #c1272d;
      width: 164px;
      padding: 5px;
      margin-bottom: 21px;
  }
}

.founderTitle{
  color: white;
  margin: 0;
  // background-color: #c1272d;
  width: 164px;
  padding: 5px;
  margin-bottom: 21px;
}

.redCircle{
  width: 35px;
  background: #c1272d;
  height: 35px;
  position: absolute;
  top: -10px;
  border-radius: 50%;
  left: -10px;
}

.fa-check{
  left:10px;
}
.fa-beer{
  left:10px;
}
.fa-building-o{
  left:12px;
}


