footer{
	background:#c1272d;
	padding: 10px;
	p{
		margin: 0;
		// text-align: center;
		color:white;
	}

}
.wrapperFooter{
	width: 800px;
  	margin:0 auto;
  	-webkit-align-content: space-between;
  	justify-content: space-between;
  	display: flex;
}

.fa{
	color: white;
}