header .container{
  height: 100vh;
  width: 40px;
  float: left;
  background: yellow;
  position: fixed;
}

.mainNav{
  position: fixed;
  top:0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  transition: all .5s;
  z-index: 10;
}

.mainNav2 li{
  margin-left: 80px;
  background: white;
  border-radius: 4px;
  border: 2px solid #c1272d;
  &:first-child{
    margin-left: 0;
  }
}

.mainNav li {
  display: inline-block;
  padding: 10px 20px;
  transition: all .5s;
  
}

.mainNav a{
  color: #c1272d;
  text-shadow: 1px 1px 1px #333;
  transition: all 0.5s;
}

.mainNav a:hover{
  color: yellow;
}


header .sideNav {
  position: relative;
  z-index: 10;
  transition: all 0.5s;
  text-align: center;
  .fa-bars {
    display: block;
    padding: 5px;
    color: black;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 30px;
  }
}

.fa-bars:hover{
  color: red;
}

.sideNav .dropdown{
  display:none;
  height: 100vh;
  width: 300px;
  background: yellow;
  position: absolute;
  li{
    display: block;
    padding:10px;
  }
  a{
    padding: 10px;
    transition: all .5s;
  }
}

.sideNav .dropdown.open {
  display: block;
}

.sideNav li{
  margin: 30px 5px;
  font-weight: bold;
  font-size: 20px;
}

.sideNav li a:hover{
  color: #c1272d;
}

.sideNav li:last-child{
  border-top: 1px solid black;
  font-size: 14px;
}

.sideNav li .fa{
  color: black;
  font-size: 40px;
  transition: all .5s;
  &:hover{
    color: #c1272d;
  }
}