.bannerHeader{
  background-image: url(img/heroImage.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.headerMain{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color:white;
  margin:auto;
}

.hamburgerChoices{
  font-size: 0;
}

.hamburger{
  width: 33.33%;
  float: left;
}

.catering{
  background-image: url(img/brickwall.png);
  padding-bottom: 60px;
  padding-top: 30px;
  h1{
   color: white;
   margin: 0;
   background-color: #c1272d;
   width: 142px;
   padding: 5px;
  }
}

form{
  max-width: 700px;
  margin: 0 auto;
  margin-top: 39px;
  p{
    margin:0;
  }
}

input[type="text"]{
  width: 100%;
  border:none;
  border: 1px solid #c1272d;
  margin-bottom: 15px;
}
input[type="email"]{
  width: 100%;
  border:none;
  border: 1px solid #c1272d;
  margin-bottom: 15px;

}

input[type="submit"]{
  left: 0;
  background-color: #c1272d;
  border: none;
  padding: 10px;
  color: white;
}
textarea{
  width: 100%;
  border:none;
  border: 1px solid #c1272d;
  margin-bottom: 15px;
}
label{
  background-color: #c1272d;
  color: white;
  padding: 5px;
}
.catering .wrapper{
  max-width: 800px;
  margin:0 auto;
}