.bannerHeader{
  background-image: url(img/heroImage.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.headerMain{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color:white;
  margin:auto;
}
.hamburger{
  width: 33.33%;
  float: left;
}


.catering{
  // background:#FFFAFD;
  background-image: url(img/brickwall.png);
  padding-bottom: 60px;
  padding-top: 30px;
  // width: 800px;
  // margin:0 auto;
  h1{
   color: white;
   margin: 0;
   background-color: red;
   width: 142px;
   padding: 5px;
  }

}
form{
  width: 700px;
  margin: 0 auto;
  position: relative;
  margin-top: 39px;
  p{
    margin:0;
  }
}

input[type="text"]{
  // float:left;
  width: 100%;
  border:none;
  border: 1px solid red;
  margin-bottom: 15px;
}
input[type="email"]{
  // float:left;
  width: 100%;
  border:none;
  border: 1px solid red;
  margin-bottom: 15px;

}

input[type="submit"]{
  position: absolute;
  left: 0;
  background-color: red;
  border: none;
  padding: 10px;
  color: white;
}
textarea{
  width: 100%;
  border:none;
  border: 1px solid red;
  margin-bottom: 15px;
}
label{
    background-color: red;
    color: white;
    padding: 5px;
}
.wrapper{
  width: 800px;
  margin:0 auto;
}